/* Contenedor del post */
.post-container {
    background-color: #1a1a1a; /* Fondo oscuro para todo el post */
    color: #f4f4f4; /* Texto claro */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
  }
.post-container:hover {
	background-color: #2e2e2e;
  }
body.dark-theme .post-container {
    background-color: #f4f4f4; /* Fondo oscuro para todo el post */
    color: #1a1a1a; /* Texto claro */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
  }
body.dark-theme .post-container:hover {
    background-color: #cecece;
  }
  
  /* Header del post */
  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .post-profile-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }
  
  .post-user-info {
    display: flex;
    flex-direction: column;
  }
  
  .post-user {
    font-size: 1rem;
    font-weight: bold;
  }
  
  .post-username {
    color: #003cff; /* Nombre del usuario */
  }
  
  body.dark-theme .post-username {
    color: #1faf1a; /* Nombre del usuario */
  }
  
  .post-date {
    font-size: 0.85rem;
    color: #999999; /* Color de la fecha */
  }
  
  .post-status {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  
  .post-status-icon {
    margin-right: 5px;
    font-size: 1.2rem;
  }
  
  /* Cuerpo del post */
  .post-body {
	margin-bottom: 20px;
}
  
  .post-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .post-text {
    font-size: 1rem;
    margin-bottom: 15px;
    text-align: left;
  }
  
  .post-mail {
    color: #003cff; /* Color del enlace */
    text-decoration: none;
  }
  body.dark-theme .post-mail {
    color: #1faf1a; /* Color del enlace */
    text-decoration: none;
  }
  
  .post-mail:hover {
    background-color: #5abaf1;
  }
  body.dark-theme .post-mail:hover {
    background-color: #00ff22;
  }
  
  /* Imagen del contenido del post */
  .post-image {
    width: 70%;
    border-radius: 10px;
    margin-top: 15px;
  }
  
  /* Footer del post */
  .post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
  }
  
  .post-emoji {
    font-size: 1.1rem;
  }
  
  .list-style {
    list-style-type: none; /* Quita los puntos de la lista si no los quieres */
    padding: 0;
  }
  
  .list-style li {
    margin-bottom: 20px; /* Espacio entre los elementos */
  }
  
  .list-style a {
    font-weight: bold;
    color: #007bff; /* Color del enlace */
  }
  body.dark-theme .list-style a {
    font-weight: bold;
    color: #1faf1a; /* Color del enlace */
  }
  
  .list-style p {
    margin: 5px 0 0; /* Margen para separar el párrafo del enlace */
    font-style: italic; /* Cursiva para las descripciones */
    color: #555; /* Color más suave para la descripción */
  }

  .h1-center{
    text-align: center;
  }